/* RESET */
img {
    max-width: 100%;
}


/* DEBUG */
/* [class="container"] {
    border: 1px solid black;
    min-height: 100px;
}

[class="col-"] {
    border: 1px solid black;
    min-height: 100px;
} */


/* RESPONSIVE */
@media screen and (min-width: 768px) {
    .col-md {
      width: 20%;
    }
}